// $card-columns-margin: 1em;
// $card-columns-count: 3;
// $card-columns-gap: 1em;

.filter-control {
    margin-bottom: .5em;
}

.sold {
    font-size: 24px;
    color: #990000;
    font-weight: bold;margin: auto;
}

.artHolder {
    padding: 1em;
}

.cardColumns {
    column-count: 3;
}

.cardItem {
    white-space: nowrap;
    display: inline-block;
    border: none;
    margin: 0 auto 2rem auto;
}


    .cardDetail {
        width: 80%; 
        margin: 1em auto;   
  }
